#include "sofle.dtsi"
#include "split_inputs.dtsi"

&default_transform {
    col-offset = <6>;
};


/ {
    chosen {
        zmk,kscan = &kscan0;
    };

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
		col-gpios
            = <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
		    ;
		row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
	};
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2A>;
        status = "okay";
        dr-gpios = <&pro_micro 4 (GPIO_ACTIVE_HIGH)>;

        sensitivity = "1x"; //1x, 2x, 3x, 4x
        //rotate-90;
        //x-invert;
        //y-invert;
        //sleep;
        //no-secondary-tap;
        no-taps;
        //x-axis-z-min = 5; //default 5, malformed value error
        //y-axis-z-min = 4; // default 4, malformed value error
    };

};

// Overrides for the input-split child node
&glidepoint_split {
    device = <&glidepoint>;
    // Optional
    // input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

&right_encoder {
    status = "okay";
};
