/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        HSB: HSB {
            compatible = "zmk,behavior-sensor-rotate";
            label = "HSB";
            #sensor-binding-cells = <0>;
            bindings = <&DEC_HSB>, <&INC_HSB>;
        };

        Volume: Volume {
            compatible = "zmk,behavior-sensor-rotate";
            label = "VOLUME";
            #sensor-binding-cells = <0>;
            bindings = <&kp LS(C_VOLUME_DOWN)>, <&kp C_VOLUME_UP>;
        };

        INC_HB: INC_HB {
            compatible = "zmk,behavior-mod-morph";
            label = "INC_HB";
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_HUI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        DEC_HB: DEC_HB {
            compatible = "zmk,behavior-mod-morph";
            label = "DEC_HB";
            bindings = <&rgb_ug RGB_BRD>, <&rgb_ug RGB_HUD>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        INC_HSB: INC_HSB {
            compatible = "zmk,behavior-mod-morph";
            label = "INC_HSB";
            bindings = <&INC_HB>, <&rgb_ug RGB_SAI>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        DEC_HSB: DEC_HSB {
            compatible = "zmk,behavior-mod-morph";
            label = "DEC_HSB";
            bindings = <&DEC_HB>, <&rgb_ug RGB_SAD>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        RIGHT_UP: RIGHT_UP {
            compatible = "zmk,behavior-mod-morph";
            label = "RIGHT_UP";
            bindings = <&kp RIGHT>, <&kp UP>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        LEFT_DOWN: LEFT_DOWN {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFT_DOWN";
            bindings = <&kp LEFT>, <&kp DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        NAV: NAV {
            compatible = "zmk,behavior-sensor-rotate";
            label = "NAV";
            #sensor-binding-cells = <0>;
            bindings = <&RIGHT_UP>, <&LEFT_DOWN>;
        };

        INC_ES: INC_ES {
            compatible = "zmk,behavior-mod-morph";
            label = "INC_ES";
            bindings = <&rgb_ug RGB_EFF>, <&rgb_ug RGB_SPI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        DEC_ES: DEC_ES {
            compatible = "zmk,behavior-mod-morph";
            label = "DEC_ES";
            bindings = <&rgb_ug RGB_EFR>, <&rgb_ug RGB_SPD>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ES: ES {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ES";
            #sensor-binding-cells = <0>;
            bindings = <&INC_ES>, <&DEC_ES>;
        };

        SOFT_OFF_1s: SOFT_OFF_1s {
            compatible = "zmk,behavior-soft-off";
            label = "SOFT_OFF_1S";
            #binding-cells = <0>;
            hold-time-ms = <1000>;
            split-peripheral-off-on-press;
        };
    };

    combos {
        compatible = "zmk,combos";

        home {
            bindings = <&to 0>;
            key-positions = <31 56>;
        };

        Game {
            bindings = <&to 4>;
            key-positions = <15 53>;
        };
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DVORAK {
            display-name = "DVRK";
            bindings = <
&kp GRAVE         &kp N1         &kp N2        &kp N3        &kp N4        &kp N5                                                    &kp N6     &kp N7      &kp N8            &kp N9             &kp N0  &kp EQUAL
&kp BACKSLASH     &kp SQT        &kp COMMA     &kp PERIOD    &kp P         &kp Y                                                     &kp F      &kp G       &kp C             &kp R              &kp L   &kp SLASH
&kp LEFT_CONTROL  &kp A          &kp O         &kp E         &kp U         &kp I                                                     &kp D      &kp H       &kp T             &kp N              &kp S   &kp MINUS
&kp LEFT_ALT      &kp SEMICOLON  &kp Q         &kp J         &kp K         &kp X                     &kp C_MUTE      &sk LEFT_SHIFT  &kp B      &kp M       &kp W             &kp V              &kp Z   &kp ENTER
                                 &kp LEFT_WIN  &out OUT_TOG  &lt 1 ESCAPE  &mt LEFT_SHIFT BACKSPACE  &lt 3 DELETE    &lt 2 TAB       &kp SPACE  &caps_word  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
            >;

            sensor-bindings = <&Volume>, <&NAV>;

            label = "DV";
        };

        Function {
            bindings = <
&kp ESCAPE  &kp F1        &kp F2          &kp F3             &kp F4        &kp F5                                   &kp F6  &kp F7    &kp F8        &kp F9     &kp F10  &kp F11
&caps_word  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                             &trans  &trans    &kp UP_ARROW  &trans     &trans   &kp F12
&trans      &trans        &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_NEXT    &trans                                   &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans   &trans
&trans      &trans        &trans          &trans             &trans        &trans        &rgb_ug RGB_TOG    &trans  &trans  &trans    &trans        &trans     &trans   &trans
                          &kp C_POWER     &ext_power EP_TOG  &trans        &trans        &trans             &trans  &trans  &trans    &trans        &trans
            >;

            label = "FN";
            sensor-bindings = <&HSB>, <&ES>;
        };

        Keypad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &kp KP_NUMLOCK   &kp KP_SLASH  &kp KP_MULTIPLY  &kp KP_SUBTRACT  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp HOME  &kp KP_N7        &kp KP_N8     &kp KP_N9        &kp KP_PLUS      &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp END   &kp KP_N4        &kp KP_N5     &kp KP_N6        &kp KP_ENTER     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp INS   &kp KP_NUMBER_1  &kp KP_N2     &kp KP_N3        &kp KP_ENTER     &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans    &kp KP_N0        &kp KP_DOT    &trans
            >;

            label = "Pad";
            sensor-bindings = <&Volume>, <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        Shortcuts {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &kp UP     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(A)  &kp LEFT   &kp DOWN   &kp RIGHT  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                   &trans     &trans     &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "KEY";
        };

        Gaming {
            label = "GAME";
            display-name = "GAME";
            bindings = <
&kp ESCAPE        &kp N1         &kp N2          &kp N3           &kp N4  &kp N5                               &kp N6  &kp N7  &kp N8         &kp N9     &kp N0  &kp LEFT_BRACKET
&kp BACKSLASH     &kp SQT        &kp COMMA       &kp PERIOD       &kp P   &kp Y                                &kp F   &kp G   &kp C          &kp R      &kp L   &kp RIGHT_BRACKET
&kp LEFT_CONTROL  &kp A          &kp O           &kp E            &kp U   &kp I                                &kp D   &kp H   &kp T          &kp N      &kp S   &kp MINUS
&kp LEFT_ALT      &kp SEMICOLON  &kp Q           &kp J            &kp K   &kp X      &kp C_MUTE    &caps_word  &kp B   &kp M   &kp W          &kp V      &kp Z   &kp SLASH
                                 &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp M   &kp SPACE  &kp R         &to 0       &to 0   &trans  &kp BACKSPACE  &kp EQUAL
            >;

            sensor-bindings = <&Volume>, <&NAV>;
        };
    };
};
